.gallery {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;

  .card {
    width: 20rem;
  }

  .card:nth-child(1) {
    align-self: flex-end;
  }

  .card:nth-child(3) {
    align-self: stretch;
  }
}
