.container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .menu {
    flex-basis: 20rem;
    flex-grow: 1;
  }

  .gallery {
    flex-basis: 0;
    flex-grow: 999;
    min-width: 60%;
  }
}

.menu {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;

    li {
      flex-grow: 1;
      flex-basis: 20rem;
    }
  }
}